:root {
  /* 配置全局变量 */
  --line-border-fill: #3498db;
  --line-border-empty: #e0e0e0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f6f7fb;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.container {
  text-align: center;
}

.process-container {
  width: 350px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
}

.process-container::before {
    content: '';
    background-color: var(--line-border-empty);
    position: absolute;
    top: 50%;
    left: 0;
    /* 居中显示进度条 */
    transform: translate(0,-50%);
    height: 4px;
    width: 100%;
    z-index: -1;
}

.progress {
  background-color: var(--line-border-fill);
  position: absolute;
  top: 50%;
  left: 0;
  height: 4px;
  width: 0%;
  transform: translateY(-50%);
  transition: 0.4s ease;
  z-index: -1;
}
.circle {
  background-color: rgb(255, 255, 255);
  color: #999;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border:3px solid var(--line-border-empty);
  transition: 0.4s ease;
}
.circle.active {
  border-color: var(--line-border-fill);
}
.btn {
  background-color: var(--line-border-fill);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 8px 30px;
  margin: 5px;
  font-size: 14px;
}
.btn:active {
  transform: scale(0.98);
}
.btn:focus {
    outline: 0;
}
.btn:disabled {
    background: var(--line-border-empty);
    cursor: not-allowed;
}
